.mobile-menu {
  width: 100px;
  height: 100px;
  background-color: red;
  padding: 20px;

  @media (min-width: 992px) {
    display: none;
  }
}

.desktop-menu {
  justify-content: space-between;
  color: navy;
  background-color:red;
  display: none;

  @media (min-width: 992px) {
    display: flex;
  }
}